body {
    background: url('https://wallpaperscraft.com/image/thermometer_temperature_discharge_glass_80744_5378x3600.jpg') no-repeat fixed center center;
    background-size: cover;
    font-family: Montserrat;
}
